/* Common Styles Beginning*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: inline-block;
}
body {
  background-color: #ffffff;
  font-size: 20px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
  text-transform: capitalize;
}
.common-wrap {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}
.bg-style {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* Common Styles End */

/* Typography */

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #070211;
}
h1 {
  font-size: 88px;
  line-height: 94px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 72px;
  line-height: 95px;
  font-family: "Merriweather", serif;
  font-weight: 900;
}
h3 {
  font-size: 64px;
  line-height: 88px;
  font-family: "Merriweather", serif;
  font-weight: 900;
}
h4 {
  font-size: 48px;
  line-height: 54px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
h5 {
  font-size: 32px;
  line-height: 38px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: #ffffff;
}
h6 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-red {
  color: #ff0000;
}
/* Typography */

/* Header Style Beginning */
header {
  margin-top: 50px;
}
.banner {
  min-height: 600px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text h2 {
  max-width: 632px;
  color: #ffffff;
  margin-top: 16px;
}
/* Header Style End */
/* New Year Offer Style Beginning */
.new-year-offer {
  max-width: 842px;
  padding: 0 20px;
  margin: 120px auto 0;
}
.new-year-offer h6 {
  margin-top: 48px;
}
.new-year-offer h4 {
  margin-top: 16px;
}
.new-year-offer img {
  width: 100%;
  margin-top: 48px;
}
/* New Year Offer Style End */
/* Welcome Style Beginning */
.welcome {
  margin-top: 120px;
}
.welcome-content {
  min-height: 600px;
  display: flex;
  align-items: center;
}
.welcome-text {
  max-width: 698px;
  margin-left: 126px;
}
.welcome-text h3 {
  color: #ffffff;
}
.welcome-text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 24px;
}
.welcome-text span {
  display: block;
  font-weight: 700;
  margin-top: 48px;
  color: #ffffff;
}
/* Welcome Style End */
/* Schedule Style Beginning */
.schedule {
  margin-top: 100px;
}
.schedule-info {
  padding: 100px 0 110px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.schedule-info h5 {
  line-height: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #070211;
}
.btn-red {
  width: 168px;
  height: 56px;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  background-color: #ff0000;
  text-transform: uppercase;
  border: transparent;
  border-radius: 8px;
  margin-top: 64px;
  transition: all 0.3s ease-in-out;
}
.btn-red:hover {
  border: 1px solid #ff0000;
  background-color: transparent;
  color: #ff0000;
}
/* Schedule Style End */
/* Coming Soon Style Beginning */
.coming-soon {
  margin-top: 120px;
}
.coming-soon-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.coming-soon-text {
  max-width: 394px;
}
.coming-soon-text h4 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin-top: 16px;
}
.coming-soon-text p {
  margin-top: 22px;
}
.coming-soon-image {
  max-width: 464px;
  padding: 50px;
  border: 15px solid #ff0000;
  border-radius: 100%;
}
.new-year-wish {
  max-width: 276px;
  margin-top: 55px;
}
.new-year-wish p {
  margin-top: 16px;
}
.new-year-wish img {
  margin-top: 44px;
}
/* Coming Soon Style End */
/* Holiday Sale Style Beginning */
.holiday-sale {
  margin-top: 120px;
}
.holiday-sale-title {
  max-width: 1068px;
  margin: 0 auto;
}
.holiday-sale-title h2 {
  margin-top: 16px;
}
.holiday-sale-title p {
  margin-top: 22px;
}
.holiday-sale-content {
  position: relative;
  margin-top: 70px;
}
.gift-image {
  position: absolute;
  bottom: 0;
  left: 35px;
}
.discount-content {
  display: flex;
  justify-content: right;
  position: relative;
}
.discount-img {
  position: absolute;
  right: 275px;
  top: 75px;
}
.base-shape {
  width: 100%;
  height: 230px;
  background-color: #ff0000;
  border-radius: 16px 0 16px 16px;
}
/* Holiday Sale Style End */
/* Portfolio Style Beginning */
.portfolio {
  margin-top: 120px;
}
.portfolio-title {
  max-width: 895px;
}
.portfolio-title h4 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin-top: 16px;
}
.portfolio-title p {
  margin-top: 22px;
}
.portfolio-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
}
.portfolio-gallery img {
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}
.portfolio-gallery img:hover {
  box-shadow: 0px 6px 47px -6px #000000;
}
/* Portfolio Style End */
/* Newsletter Style Beginning */
.newsletter {
  margin-top: 120px;
}
.newsletter-content {
  padding: 80px 0;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}
.newsletter-title {
  max-width: 895px;
  margin: 0 auto;
}
.newsletter-title h4 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin-top: 40px;
}
.newsletter-title p {
  margin-top: 22px;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.newsletter-form input[type="email"] {
  width: 438px;
  height: 72px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  border: 0;
  border-radius: 50px 0 0 50px;
  padding-left: 30px;
}
.newsletter-form input[type="submit"] {
  width: 210px;
  height: 72px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff0000;
  border: transparent;
  border-radius: 0 50px 50px 0;
  transition: all 0.3s ease-in-out;
}
.newsletter-form input[type="submit"]:hover {
  color: #ff0000;
  background-color: transparent;
  border: 1px solid #ff0000;
}
/* Newsletter Style End */
/* Footer Style Beginning */
footer {
  background-color: #070211;
  color: #ffffff;
  margin-top: 120px;
  padding: 120px 0;
}
.contacts {
  display: flex;
  justify-content: space-between;
}
.contacts address {
  max-width: 375px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  font-style: normal;
}
.contact-links-item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.contact-links-item a {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 48px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 50px 0;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.copyright span {
  font-size: 24px;
  list-style: 40px;
  font-weight: 500;
}
/* Footer Style End */
